<!DOCTYPE html>
<html>
  <head>
    <title>BEYRISFOOD</title>

    <link
      href="{{{url_for('static',filename='css/vuetify.min.css')}}}"
      rel="stylesheet"
    />
    <link
      href="{{{url_for('static',filename='css/app.css')}}}"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app" v-cloak>
      <v-app>
    
        <v-app-bar   flat>
         

          <v-toolbar-title>Title</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn >INICIO</v-btn>
          <v-btn >NOSOTROS</v-btn>

           <v-app-bar-nav-icon></v-app-bar-nav-icon>
        </v-app-bar>

        <v-main> </v-main>
      
         
          <v-footer padless > 
          Incididunt occaecat eiusmod incididunt aute enim. Deserunt aliqua sit occaecat officia et laborum exercitation enim non dolore cillum ad. Do est duis veniam id. Exercitation aliquip qui mollit duis sit excepteur adipisicing mollit amet. Irure sunt cupidatat eiusmod laboris anim.
          </v-footer>
        </div>
      </v-app>
    </div>

    <script src="{{{url_for('static',filename='js/vue.min.js')}}}"></script>
    <script src="{{{url_for('static',filename='js/vuetify.min.js')}}}"></script>
    <script src="{{{url_for('static',filename='js/app.js')}}}"></script>
  </body>
</html>
